<div class="page-header">
  <h1>Dish #<%= @dish.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd><%= @dish.name %></dd>

  <dt>Cuisine</dt>
  <dd><%= @cuisine.name %></dd>

  <dt>Venues Where Served</dt>
  <dd>
    <ul>
      <% @favorites.each do |favorite| %>
        <% venue = Venue.find_by(:id => favorite.venue_id) %>
        <li><%= venue.name %></li>
      <% end %>
    </ul>
  </dd>

  <dt>Favorite Dish for</dt>
  <dd>
    <ul>
      <% @favorites.each do |favorite| %>
        <% user = User.find_by(:id => favorite.user_id) %>
      <li><%= user.username %></li>
      <% end %>
    </ul>
  </dd>

</dl>
